[submodule "game/source/external/godot-cpp/4.6"]
	path = game/source/external/godot-cpp/4.6
	url = https://github.com/godotengine/godot-cpp.git
[submodule "game/source/external/json"]
	path = game/source/external/nlohmann-json
	url = https://github.com/nlohmann/json.git
